@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Login form starts here */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(0,106,78);
  color: white;
  border: none;
  cursor: pointer;
  bottom: 90px;
  left: inherit;
  width: 280px;
  height: 50px;
  position: relative;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  bottom: 250px;
  left: 45%;
  border: none;
  z-index: 9;
}
/* Login form ends here */


/* Register form starts here*/
/* Button used to open the contact form - fixed at the bottom of the page */
.openup-button {
  background-color: rgb(0,106,78);
  color: white;
  border: none;
  cursor: pointer;
  bottom: 90px;
  right: inherit;
  width: 280px;
  height: 50px;
  position: relative;
}
/* The popup form - hidden by default */
.formup-popup {
  display: none;
  position: relative;
  bottom: 300px;
  left: 10%;
  border: none;
  z-index: 9;
}
/* Register form ends here */




/* Add styles to the form container */
.form-container {
  max-width: 50%;
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  margin: 0 0 5px;
  padding: 10px;
  max-width: 100%;
  resize: none;
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container h3 {
  display: block;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

.form-container h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Set a style for the submit/login button */
.form-container .btc {
  background-color: rgb(0,106,78);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(0,106,78);
}

/* Add some hover effects to buttons */
.form-container .btc{
  opacity: 1;
}

/*media queries that make text and images stack on smaller screen*/
  
@media only screen and (max-width: 768px) {
  [class*="col-"] {
      width: 100%;
  }
  /* Login form starts here */
/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(0,106,78);
  color: white;
  border: none;
  cursor: pointer;
  bottom: 90px;
  left: inherit;
  width: 150px;
  height: 30px;
  position: relative;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  bottom: 250px;
  left: 45%;
  border: none;
  z-index: 9;
}
/* Login form ends here */


/* Register form starts here*/
/* Button used to open the contact form - fixed at the bottom of the page */
.openup-button {
  background-color: rgb(0,106,78);
  color: white;
  border: none;
  cursor: pointer;
  bottom: 90px;
  right: inherit;
  width: 150px;
  height: 30px;
  position: relative;
}
/* The popup form - hidden by default */
.formup-popup {
  display: none;
  position: relative;
  bottom: 300px;
  left: 10%;
  border: none;
  z-index: 9;
}
/* Register form ends here */

/* Add styles to the form container */
.form-container {
  max-width: 50%;
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  margin: 0 0 5px;
  padding: 10px;
  max-width: 100%;
  resize: none;
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container h3 {
  display: block;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

.form-container h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

/* Set a style for the submit/login button */
.form-container .btc {
  background-color: rgb(0,106,78);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  height: 30px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: rgb(0,106,78);
}

/* Add some hover effects to buttons */
.form-container .btc{
  opacity: 1;
}

}



